/node_modules
.env
.prettierrc
.phpunit.result.cache
npm-debug.log
phpunit.xml
/.idea
__pycache__/
*.py[cod]
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

